<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <!--配置Servlet：Servlet类的配置-->
    <servlet>
        <!--名字随便取，但上下要一致-->
        <servlet-name>HelloServlet</servlet-name>
        <servlet-class>servlet.HelloServlet</servlet-class>
    </servlet>

    <!--配置Servlet-mapping：Servlet请求调用的路径配置-->
    <servlet-mapping>
        <servlet-name>HelloServlet</servlet-name>
        <!--请求名称，即在路径中加入/hello就能进入Servlet类的请求中，并跳转到page.jsp页面-->
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>

</web-app>